!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title Restful Web Services in Grails 3
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="Reveal JS Template")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .opi-logo
      .slides
        section(data-state="index-slide")
          h1 Restful Web Services in Grails 3
          small by Jenn Strater <a href="http://twitter.com/jennstrater" target="_blank"><img style="border:none;margin-top:0px;box-shadow:none;" src="./assets/img/CompanyAndProductLogos/twitter.png"/>@jennstrater</a>
        section(data-state="github-slide", class="github-section")
          h1 <i class="fa fa-icon fa-github"></i>
          p
            a(href="http://jlstrater.github.io/Restful-Grails3") http://jlstrater.github.io/Restful-Grails3
          p
            a(href="http://github.com/jlstrater/restful-grails-3",target="_blank") Slides(source)
        section
          h2 About Me
          p Professional
          ul
            li Senior Consultant - <a href="http://objectpartners.com" target="_blank">Object Partners</a>
            li Full Stack Engineer
            li Co-Founder - <a href="http://www.gr8ladies.org" target="_blank">Gr8Ladies</a>
        section
          h2 About Me
          p Minneapolis, MN
          p **ADD MORE HERE -- I'm interesting I promise**

        section
          h2 Agenda
          ul
            li Remedial REST
            li 7 Ways you can make your APIs more RESTful
            li Example in Grails 3

        section
          h2 Remedial REST
          p Definition
          blockquote 

    script(src="./assets/js/app.js")

    // If the query includes 'print-pdf', use the PDF print sheet
    script(type='text/javascript').
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      } else if ( window.location.search.match( /print-paper/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }

